<section class="summary">
	<div class="wrapper">
		<mat-card class="summary-card">
				<img src="assets/Portrait.jpg" alt="just me" class="summary-img">
	  		<mat-card-content>
				<!-- img mat-card-image src="assets/tux.png" alt="just me" class="summary-img"-->
				<nav>
				    <ul class="social-icons">
						<li>
							<span matTooltip="Twitter">
								<a class="twitter-link" href="https://twitter.com/guiguignolo">
									<i class="fa fa-twitter fa-2x"></i>
								</a>
							</span>
						</li>
						<li>
							<span matTooltip="Linkedin">
								<a class="linkedin-link" href="https://www.linkedin.com/in/guillaume-lefebvre">
									<i class="fa fa-linkedin fa-2x"></i>
								</a>
							</span>
						</li>
						<li>
							<span matTooltip="Instagram">
								<a class="instagram-link" href="https://www.instagram.com/guillaumeg33k/">
									<i class="fa fa-instagram fa-2x"></i>
								</a>
							</span>
						</li>
						<li>
							<span matTooltip="GitHub">
								<a class="github-link" href="https://github.com/GuiguiGeek">
									<i class="fa fa-github fa-2x"></i>
								</a>
							</span>
						</li>
					</ul>
				</nav>
			</mat-card-content>
		</mat-card>
		<mat-card class="summary-card">
			<mat-card-header>
			    <mat-card-title>Guillaume LEFEBVRE</mat-card-title>
			    <mat-card-subtitle>Chef de projet IT, analyste developpeur senior</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content class="summary-detail">
		    	<ul>
			    	<li>
                   		<i class="fa fa-calendar-check-o fa-2x"></i>
                   		33 ans
			    	</li>
			    	<li>
                   		<i class="fa fa-envelope-open fa-2x"></i>
                   		guillaume.lefebvre@gmail.com
			    	</li>
			    	<li>
	                    <i class="fa fa-mobile fa-3x"></i>
	                    06.87.49.38.50
			    	</li>
		    	</ul>
			</mat-card-content>
			<mat-card-actions>
				<button mat-button>Download</button>
			</mat-card-actions>
		</mat-card>
	</div>
</section>