<!-- link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"-->
<section class="skill">
	<div class="wrapper">
		<mat-card class="skill-technical-card">
			<mat-card-header>
			    <mat-card-title><strong>Compétences techniques</strong></mat-card-title>
			</mat-card-header>
			<mat-card-content class="skill-technical-detail">
			    <div>
			    	<ul>
				    	<li>
				    		<div>Programmation</div>
			    			<ul>
					    		<li>Java : 5, 6, 7</li>
					    		<li>SQL : Transact SQL, SQL Oracle, PL/SQL</li>
					    		<li>Shell : Unix, DOS</li>
					    		<li>Front : HTML, CSS, JS, Angular</li>
					    		<li>Mainframe : COBOL, SAS, NATURAL</li>
					    		<li>Autres : Ant, VBA</li>
						    </ul>
				    	</li>
				    	<li>
				    		<div>WEB</div>
			    			<ul>
					    		<li>webservice : SOAP, Rest</li>
					    		<li>Serveur : Websphere 7, Tomcat, Jetty, JBoss</li>
						    </ul>
				    	</li>
				    	<li>
				    		<div>Outils</div>
			    			<ul>
					    		<li>Code : Eclipse, STS, R.A.D.</li>
					    		<li>Suite Atlassian : JIRA, Stash, Confluence</li>
					    		<li>Gestion de code : Git, SVN</li>
					    		<li>Gestion des tickets : Service manager 7, Service Now, Service first, Mantis</li>
						    </ul>
				    	</li>
				    	<li>
				    		<div>Fonctionnel</div>
			    			<ul>
					    		<li>Moyens de paiement</li>
					    		<li>Taux de change</li>
					    		<li>Trésorerie</li>
					    		<li>Crédits</li>
						    </ul>
				    	</li>
				    	<li>
				    		<div>Gestion projet</div>
			    			<ul>
					    		<li>Cycle en V</li>
					    		<li>Méthodes Agile</li>
						    </ul>
				    	</li>
		    			<li>Langue : Anglais technique, Allemand scolaire</li>
			    	</ul>
			    </div>
			</mat-card-content>
		</mat-card>
		<mat-card class="skill-soft-card">
			<mat-card-header>
			    <mat-card-title><strong>Soft Skills</strong></mat-card-title>
			</mat-card-header>
			<mat-card-content class="skill-soft-detail">
	    		<div>Communication</div>
		    	<div>
		    		<mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
		    	</div>
	    		<div>Expression</div>
		    	<div>
		    		<mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
		    	</div>
	    		<div>Connaissance générale</div>
		    	<div>
		    		<mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
		    	</div>
	    		<div>Analyse</div>
		    	<div>
		    		<mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
		    	</div>
	    		<div>Curiosité</div>
		    	<div>
		    		<mat-progress-bar mode="determinate" value="80"></mat-progress-bar>
		    	</div>
			</mat-card-content>
		</mat-card>
	</div>
</section>