.menu-mobile {
  display: none;
}

@media(max-width:875px) {
	.menu-mobile {
	  position: relative;
	  top: 0;
	  bottom: auto;
	  left: 0;
	  right: auto;
	  background-color: rgba(117, 190, 218, 0.0);
	  display:contents;
	}
	.burger button {
		position: relative;
		left: 0px;
  		top: 0px;
  		width: 8em;
  		/*margin-top: -2.5em;*/
  		background-color: #fff;
	}
	.menu-desktop {
		display: none;
	}
	.menu-vertical .mat-button {
		display: block;
	}
}